body{
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;

}

#container{
	margin-left: 0%;
	margin-right: 0%;
}
#earthquakes{
	background-color:#1B9AAA; 
	margin-top: -30px;
	padding-bottom: 35px;
	margin-bottom: 20px;
}
#heading{
	padding-top: 40px;
	margin-bottom: 30px;
	
	color:#FFFFFF;
}

.magnitude{

}

.mag{
	color: red;
}

.place{
	font-weight: 700; 
}
